Repository CShatto99/next-ui-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:fix, next lint --fix --file

.lintstagedrc:

{
  "*.{md,json,css,scss}": ["npm run format:fix"],
  "*.{js,ts,jsx,tsx}": ["npm run format:fix", "next lint --fix --file"]
}

fix(dev): update package-lock
  package-lock.json
Due: npm run format:fix

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: npm run format:fix

Notes added by 'git notes add'
  2300e59a070ae63445dcc29d56602af1cf46693a
Due: none

chore(release): 1.0.0-dev.1 [skip ci]
  CHANGELOG.md
Due: npm run format:fix

Notes added by 'git notes add'
  8f10972124060ab93257a775f34558d6cddbb2a5
Due: none

chore(dev): Create LICENSE
  LICENSE
Due: none

fix(dev): rename test scripts and add sass
  .commitlintrc
  .github/workflows/release.yml
  .husky/pre-commit
  .prettierrc
  .storybook/main.ts
  README.md
  package-lock.json
  package.json
Due: npm run format:fix, next lint --fix --file

chore(release): 1.0.1-dev.1 [skip ci]
  CHANGELOG.md
Due: npm run format:fix

Notes added by 'git notes add'
  2a7378d5990052d77f63e5c245d6214cb307a5a0
Due: none

fix(dev): fix vitest config
  package-lock.json
  package.json
  src/utils/exampleUtil/index.test.ts
  tsconfig.json
  vite.config.ts
Due: npm run format:fix, next lint --fix --file

chore(release): 1.0.1-dev.2 [skip ci]
  CHANGELOG.md
Due: npm run format:fix

Notes added by 'git notes add'
  06271b53c3576ad30ff093c7d4380e9034421bd7
Due: none
